body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: #e5e5e5;
}
.Frame {
  width: 40vw;
  height: 40vw;
  display: grid;
  grid-template: 0.4fr auto  0.2fr / 1fr;
  grid-template-areas:
    "contenedor1"
    "contenedor2"
    "contenedor3";
  border-radius: 10px / 10px;
}
.Contenedor1 {
  grid-area: contenedor1;
  display: grid;
  grid-template: 0.3fr /1fr;
  grid-template-areas:
    "label"
    "colores";
}
.Contenedor2 {
  grid-area: contenedor2;
}
.Contenedor3 {
  grid-area: contenedor3;
}
.Label label {
  grid-area: label;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: larger;
  font-size: 40px;
}
.Colores {
  grid-area: colores;
  display: grid;
  grid-template: 0.1fr 0.1fr 0.1fr / 1fr;
  grid-template-areas:
    "color1"
    "color2"
    "color3";
}
#color1 {
  grid-area: color1;
  color: #28488a;
  background-color: #28488a;
  width: 40vw;
  height: 20px;
  margin: 0;
  padding: 0;
}
#color2 {
  grid-area: color2;
  color: #f4d533;
  background-color: #f4d533;
  width: 40vw;
  height: 20px;
  margin: 0;
  padding: 0;
}
#color3 {
  grid-area: color3;
  color: #ca2228;
  background-color: #ca2228;
  width: 40vw;
  height: 20px;
  margin: 0;
  padding: 0;
}
