.Frame {
  background-color: #becff3;
  width: 50vw;
}
.Label {
  text-align: center;
}
#color1 {
  width: 50vw;
}
#color2 {
  width: 50vw;
}
#color3 {
  width: 50vw;
}
.Contenedor2 {
  margin-top: 50px;
  text-align: center;
}
.Tabla {
  border: 2px solid #000000;
  width: 80%;
  border-collapse: collapse;
  background-color: #ffffffff;
  margin-left: 70px;
  font-family: Arial, Helvetica, sans-serif;
}
.Tabla th {
  border: 2px solid #000000;
  text-align: center;
}
.Tabla td {
  border: 2px solid #000000;
  text-align: center;
  color: #ffffffff;
}
.Contenedor2 label {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
}
.Contenedor2 input {
  height: 22px;
  width: 20vw;
  margin-top: 30px;
  border-radius: 5px;
}
.Contenedor3 {
  display: grid;
  grid-template: 1fr / 0.5fr auto;
  grid-template-areas: "home ver";
  align-items: center;
}
#ver {
  grid-area: ver;
}
#home {
  grid-area: home;
  font-size: 55px;
  margin-left: 10px;
  text-decoration: none;
}
#home i:hover {
  color: #4b5be9;
  cursor: pointer;
}
.Contenedor3 #ver {
  background-color: #ffffff;
  border: 2px solid #c4c3c3;
  border-radius: 6px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  
  padding: 5px 5px;
}
.Contenedor3 #ver:hover {
  background-color: #bbd8ff;
  cursor: pointer;
}
hr{
  margin-top: 10px;
  margin-bottom: 10px;
}
