.Frame {
  background-color: #eb8c8f;
}

.Label {
  display: grid;
  grid-template: auto / 0.3fr auto;
  grid-template-areas: "imag name";
  align-items: center;
}
.Imag {
  grid-area: imag;
  font-size: 55px;
  text-align: center;
}
.Name {
  grid-area: name;
}
.Contenedor2 {
  text-align: center;
}
.Mini {
  display: grid;
  grid-template: 0.1fr / 0.5fr auto;
  grid-template-areas: "add edit";
  border: 1px solid #000;
  width: 20vw;
  height: 6vw;
  border-radius: 5px;
  align-items: center;
  justify-items: center;
  margin-left: 131px;
  margin-top: 103px;
}
#icon {
  grid-area: add;
  text-align: end;
  margin-top: 17px;
}
#edit {
  grid-area: edit;
  text-align: start;
  margin-top: 17px;
}
.Contenedor2 {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Contenedor2 i {
  font-size: 50px;
}
i:hover {
  color: #fdf1ad;
  cursor: pointer;
}
.Close {
  text-align: center;
  margin-top: 10px;
}
.Close a {
  background-color: #ffffff;
  border: 2px solid #c4c3c3;
  border-radius: 6px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #000;
  padding: 5px 5px;
}
a:hover {
  background-color: #bbd8ff;
  cursor: pointer;
}
