{% extends "solucion/baseFormulario.html" %}

{% block label%}
<div class="Label">
    <label>Crear Grupo</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<form>
    <label>*Código:</label>
    <input type="text">
    <br>
    <label>*Asignatura:</label>
    <input type="text">
    <br>
    <label>*Semestre:</label>
    <input type="text">
    <br>
    <label>*Profesor:</label>
    <input type="text">
    <hr>
    <label>*ID:</label>
    <input type="text">
</form>
{% endblock %}

{% block Contenedor3 %}
<div id="crear">
    <button>Crear</button>
</div>
<div id="home">
    <a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}