{% extends "solucion/baseVer.html" %}

{% block label %}
<div class="Label">
    <label>Lista de Grupo</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<table class="Tabla">
    <tr>
        <th>ID</th>
        <th>Código</th>
        <th>Asignatura</th>
        <th>Profesor</th>
        <th># Estudiantes</th>
        <th></th>
    </tr>
    {% for ad in grupos %}
    <tr>
        <td>{{ad.id}}</td>
        <td>{{ad.cod}}</td>
        <td>{{ad.asig}}</td>
        <td>{{ad.profe}}</td>
        <td>{{ad.num_estud}}</td>
        <td><a href="{% url 'solucion:adGrupoVer2' ad.id %}"><i class="fas fa-eye"></i></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home">
    <a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}