{% extends "solucion/baseFormulario.html" %}

{% block label%}
<div class="Label">
    <label>Agregar Estudiante</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<form>
    <label>*ID Grupo:</label>
    <input type="text">
    <br>
    <label>*ID Estudiante:</label>
    <input type="text">
</form>
{% endblock %}

{% block Contenedor3 %}
<div id="crear">
    <button>Agregar</button>
</div>
<div id="home">
    <a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}