{% extends "solucion/baseVer2.html" %}

{% block label %}
<div class="Label">
    <label>Grupo Nº {{caracter.cod}}</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<table class="Tabla">
    <tr>
        <th>Código</th>
        <td>{{caracter.cod}}</td>
    </tr>
    <tr>
        <th>Asignatura</th>
        <td>{{caracter.asig}}</td>
    </tr>
    <tr>
        <th>Profesor</th>
        <td>{{caracter.profe}}</td>
    </tr>
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Email</th>
        <th></th>
    </tr>
    {% for ad in estudiante %}
    <tr>
        <td>{{ad.apel}}</td>
        <td>{{ad.name}}</td>
        <td>{{ad.email}}</td>
        <td><abbr title="Eliminar"><i class="fas fa-user-times"></i></abbr></td>
    </tr>
    {% endfor %}

</table>
{% endblock %}

{% block Contenedor3 %}
<div id="back"><a href="{% url 'solucion:adGrupoVer' %}"><abbr title="Volver"><i class="fas fa-arrow-circle-left"></i></abbr></a></div>
<div id="home"><a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a></div>
<div id="rm"><abbr title="Eliminar Grupo"><i class="fas fa-trash-alt"></i></abbr></div>
{% endblock %}