{% extends "solucion/baseVer2.html" %}

{% block label%}
<div class="Label">
    <label>{{caracter.name}} {{caracter.apel}}</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<table class="Tabla">
    <tr>
        <th>Apellidos</th>
        <td>{{caracter.apel}}</td>
    </tr>
    <tr>
        <th>Nombres</th>
        <td>{{caracter.name}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{caracter.email}}</td>
    </tr>
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Código</th>
        <th>Asignatura</th>
        <th>Semestre</th>
        <th># Estudiantes</th>
    </tr>
    {% for ad in grupo %}
    <tr>
        <td>{{ad.cod}}</td>
        <td>{{ad.asig}}</td>
        <td>{{ad.sem}}</td>
        <td>{{ad.num_estud}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="back"><a href="{% url 'solucion:adProfeVer' %}"><abbr title="Volver"><i class="fas fa-arrow-circle-left"></i></abbr></a></div>
<div id="home"><a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a></div>
{% endblock %}