{% extends "solucion/baseVer.html" %}

{% block label%}
<div class="Label">
    <label>Lista de Profesores</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<table class="Tabla">
    <tr>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Email</th>
        <th></th>
    </tr>
    {% for ad in profesores%}
    <tr>
        <td>{{ad.apel}}</td>
        <td>{{ad.name}}</td>
        <td>{{ad.email}}</td>
        <td><a href="{% url 'solucion:adProfeVer2' ad.id %}"><i class="fas fa-eye"></i></a></td>

    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home">
    <a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}