{% extends "solucion/baseFormulario.html" %}

{% block label%}
<div class="Label">
    <label>Crear Grupo</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<form>
    <label>*Apellidos:</label>
    <input type="text">
    <br>
    <label>*Nombres:</label>
    <input type="text">
    <br>
    <label>*Email:</label>
    <input type="text">
    <br>
    <label>*Contraseña:</label>
    <input type="text">
    <br>
    <label>*Cátedra:</label>
    <label>Si</label>
    <input id="radio" type="radio" name="catedra">
    <label>No</label>
    <input id="radio" type="radio" name="catedra">
    <hr>
    <label>*ID:</label>
    <input type="text">
</form>
{% endblock %}

{% block Contenedor3 %}
<div id="crear">
    <button>Crear</button>
</div>
<div id="home">
    <a href="{% url 'solucion:indexAdmin' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}