{% load static%}
<!DOCTYPE html>

<html>

<head>
    <title>Home Administrador</title>
    <link rel="stylesheet" href="{% static 'solucion/css/estilos.css' %}">
    {% block link%}
    {% endblock %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="Frame">
        <!------------------------------------ Contenedor1 ----------------------------------->
        <div class="Contenedor1">
            {% block cabecera%}
            {% endblock %}
            <div class="Colores">
                <div id="color1"></div>
                <div id="color2"></div>
                <div id="color3"></div>
            </div>
        </div>
        <!------------------------------------ Contenedor2 ----------------------------------->
        <div class="Contenedor2">
            {% block contenedor2%}
            {% endblock %}
        </div>
        <!------------------------------------ Contenedor3 ----------------------------------->
        <div class="Close">
            {% block contenedor3%}
            {% endblock %}
        </div>
    </div>
</body>

</html>