{% load static %}
<!DOCTYPE html>

<head>

    <title>Lista de Grupos</title>
    <link rel="stylesheet" href="{% static 'solucion/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'solucion/css/EstiloTabla.css' %}">
    {% block link%}
    {% endblock %}
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
</head>

<body>
    <div class="Frame" {% block estilo %} {% endblock %}>
        <!------------------------------------ Contenedor1 ----------------------------------->
        <div class="Contenedor1">
            {% block label %}
            {% endblock %}
            <div class="Colores">
                <div id="color1"></div>
                <div id="color2"></div>
                <div id="color3"></div>
            </div>
        </div>
        <!------------------------------------ Contenedor2 ----------------------------------->
        <div class="Contenedor2">
            {% block Contenedor2 %}
            {% endblock %}
        </div>
        <!------------------------------------ Contenedor3 ----------------------------------->
        <div class="Contenedor3">
            {% block Contenedor3 %}
            {% endblock %}
        </div>
    </div>

</body>

</html>