{% load static %}
<!DOCTYPE html>

<head>
    <title>Inciar Sesion</title>
    <link rel="stylesheet" href="{% static 'solucion/css/estilos.css' %}">
    <link rel="stylesheet" href="{% static 'solucion/css/EstiloIn.css' %}">

</head>

<body>

    <div class="Frame">
        <!------------------------------------ Contenedor1 ----------------------------------->
        <div class="Contenedor1">
            <div class="Label">
                {% block label %}
                {% endblock %}
            </div>
            <div class="Colores">
                <div id="color1"></div>
                <div id="color2"></div>
                <div id="color3"></div>
            </div>
        </div>
        <!------------------------------------ Contenedor2 ----------------------------------->
        <div class="Contenedor2">
            {% block contenedor2 %}
            {% endblock %}
            
        </div>
        <!------------------------------------ Contenedor3 ----------------------------------->
        <div class="Contenedor3">
            {% block contenedor3 %}
            {% endblock %}
        </div>

    </div>

</body>

</html>