{% extends "solucion/baseVer.html" %}

{% block estilo%} 
style="background-color: #eb8c8f;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Lista de Grupo</label>
</div>
{% endblock %}


{% block Contenedor2 %}
<table class="Tabla">
    <tr>
        <th>ID Grupo</th>
        <th>Asignatura</th>
        <th>Semestre</th>
    </tr>
    {% for est in grupos %}
    <tr>
        <td>{{est.id}}</td>
        <td>{{est.asig}}</td>
        <td>{{est.sem}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home">
    <a href="{% url 'solucion:indexEstud' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}