{% extends "solucion/baseVer.html" %}
{% load static %}

{% block link%}
<link rel="stylesheet" href="{% static 'solucion/css/EstiloTablas2.css' %}">
{% endblock %}

{% block estilo%}
style="background-color: #eb8c8f;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Grupo N° {{grupo.cod}}</label>
</div>
{% endblock %}


{% block Contenedor2 %}
<label>ID Grupo:</label>
<input type="text">
<br>
<label>ID Estudiante:</label>
<input type="text">
<hr>
<table class="Tabla">
    <tr>
        <th>Semestre</th>
        <td>{{grupo.sem}}</td>
    </tr>
    <tr>
        <th>Asignatura</th>
        <td>{{grupo.asig}}</td>
    </tr>
    <tr>
        <th>Profesor</th>
        <td>{{grupo.profe}}</td>
    </tr>
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Actividad</th>
        <th>Descripción</th>
        <th>Notas</th>
    </tr>
    {% for est in actividad %}
    <tr>
        <td>{{est.name}}</td>
        <td>{{est.act}}</td>
        <td>{{est.nota}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home"><a href="{% url 'solucion:indexEstud' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a></div>

{% endblock %}