{% extends "solucion/baseIndex.html" %}
{% load static%}

{% block link%}
<link rel="stylesheet" href="{% static 'solucion/css/EstiloHomeEstudiante.css' %}">
{% endblock %}

{% block cabecera%}
<div class="Label">
    <div class="Imag"><i class="fas fa-user"></i></div>
    <div class="Name">
        <label for="">Nombre Estudiante</label>
    </div>
</div>
{% endblock %}

{% block contenedor2%}
<div class="Mini">
    <div id="icon"><a href="{% url 'solucion:estudianteVer' %}"><abbr title="Ver lis ta"><i class="fas fa-list-ol"></i></i></abbr></a>
    </div>
    <div id="edit"><a href="{% url 'solucion:estudGrupoVer' %}"><abbr title="Ver Grupo"><i class="fas fa-eye"></i></i></abbr></a></div>
</div>
{% endblock %}

{% block contenedor3%}
<a href="{% url 'solucion:index' %}">Cerra Sesión</a>
{% endblock %}