{% extends "solucion/baseIndex.html" %}
{% load static%}

{% block link%}
<link rel="stylesheet" href="{% static 'solucion/css/EstiloHomeProfe.css' %}">
{% endblock %}

{% block cabecera%}
<div class="Label">
    <div class="Imag"><i class="fas fa-user"></i></div>
    <div class="Name">
        <label for="">Nombre Profesor</label>
    </div>
</div>
{% endblock %}

{% block contenedor2%}
<div class="Actividad">
    <div id="label">ACTIVIDADES</div>
    <div id="icon"><a href="{% url 'solucion:proActivCrear' %}"><abbr title="Crear Actividad"><i class="fas fa-plus-square"></i></i></abbr></a></div>
    <div id="edit"><a href="{% url 'solucion:proActivEdit' %}"><abbr title="Editar Actividad"><i class="fas fa-pen-square"></i></i></abbr></a></div>
    <div id="list"><a href="{% url 'solucion:proActivVer' %}"><abbr title="Ver Actividad"><i class="fas fa-eye"></i></abbr></a></div>
    <div id="addstudy"><a href="{% url 'solucion:proActivCalif' %}"><abbr title="Calificar"><i class="fas fa-pencil-ruler"></i></i></abbr></a></div>
</div>
<div class="Grupos">
    <div id="label">Grupo</div>
    <div id="icon"><a href="{% url 'solucion:proGrupoVer' %}"><abbr title="Lista de grupos"><i class="fas fa-list-ol"></i></abbr></a></div>
</div>
<div class="Estudiante">
    <div id="label">ESTUDIANTE</div>
    <div id="icon"><a href="{% url 'solucion:proEstudVer' %}"><abbr title="Ver Estudiante"><i class="fas fa-eye"></i></abbr></a></div>
</div>
{% endblock %}

{% block contenedor3%}
<a href="{% url 'solucion:index' %}">Cerra Sesión</a>
{% endblock %}