{% extends "solucion/baseIn.html" %}

{% block label %}
<label>Iniciar Sesión </label>
{% endblock %}

{% block contenedor2 %}
<div class="User">
    <label for="ID">Usuario:</label><br>
    <input type="text" placeholder="Usuario"><br>
</div>
<div class="Pass">
    <label for="pass">Contraseña:</label><br>
    <input type="passwoed" placeholder="**********"><br>
</div>
{% endblock %}

{% block contenedor3 %}
<div class="In">
    <a href="{% url 'solucion:indexAdmin' %}">Entrar</a>
    <a href="{% url 'solucion:indexProfe' %}">Profesor</a>
    <a href="{% url 'solucion:indexEstud' %}">Estudiante</a>
{% endblock %}