{% extends "solucion/baseIndex.html" %}
{% load static%}

{% block link%}
<link rel="stylesheet" href="{% static 'solucion/css/EstiloHome.css' %}">
{% endblock %}


{% block cabecera%}
<div class="Label">
    <div class="Imag"><i class="fas fa-user"></i></div>
    <div class="Name">
        <label for="">Nombre Admin</label>
    </div>
</div>
{% endblock %}

{% block contenedor2%}
<div class="Grupo">
    <div id="label">GRUPO</div>
    <div id="icon"><a href="{% url 'solucion:adGrupoCrear'%}"><abbr title="Crear Grupo"><i class="fas fa-plus-circle"></i></abbr></a></div>
    <div id="edit"><a href="{% url 'solucion:adGrupoEdit'%}"><abbr title="Editar Grupo"><i class="fas fa-edit"></i></abbr></a></div>
    <div id="list"><a href="{% url 'solucion:adGrupoVer'%}"><abbr title="Ver Lista"><i class="fas fa-list-ol"></i></abbr></a></div>
    <div id="addstudy"><a href="{% url 'solucion:adGrupoAddEstudy'%}"><abbr title="Agregar Estudiante"><i class="fas fa-user-plus"></i></i></abbr></a></div>
</div>
<div class="Profesor">
    <div id="label">PROFESOR</div>
    <div id="icon"><a href="{% url 'solucion:adProfeCrear'%}"><abbr title="Crear Profesor"><i class="fas fa-user-plus"></i></abbr></a></div>
    <div id="list"><a href="{% url 'solucion:adProfeVer'%}"><abbr title="Ver Lista de Profesores"><i class="fas fa-list-ol"></i></abbr></a></div>
</div>
<div class="Estudiante">
    <div id="label">ESTUDIANTE</div>
    <div id="icon"><a href="{% url 'solucion:adEstudCrear'%}"><abbr title="Crear Estudiante"><i class="fas fa-user-plus"></i></abbr></a></div>
    <div id="edit"><a href="{% url 'solucion:adEstudEdit'%}"><abbr title="Editar Estudiantes"><i class="fas fa-user-edit"></i></abbr></a></div>
    <div id="list"><a href="{% url 'solucion:adEstudVer'%}"><abbr title="Ver Lista de Estudiantes"><i class="fas fa-list-ol"></i></abbr></a></div>
</div>
{% endblock %}

{% block contenedor3%}
<a href="{% url 'solucion:index' %}">Cerra Sesión</a>
{% endblock %}