{% extends "solucion/baseVer.html" %}
{% load static%}

{% block estilo%} 
style="background-color: #fdf1ad;"
{% endblock%}

{% block link%}
<link rel="stylesheet" href="{% static 'solucion/css/EstiloTablas2.css' %}">
{% endblock %}

{% block label%}
<div class="Label">
    <label>Ver Actividad</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<label>ID:</label>
<input type="text">
<hr>
<table class="Tabla">
    <tr>
        <th>Código</th>
        <td>{{grupo.cod}}</td>
    </tr>
    <tr>
        <th>Asignatura</th>
        <td>{{grupo.asig}}</td>
    </tr>
    <tr>
        <th>Profesor</th>
        <td>{{grupo.profe}}</td>
    </tr>
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Notas</th>
    </tr>
    {% for pro in estudiante %}
    <tr>
        <td>{{pro.apel}}</td>
        <td>{{pro.name}}</td>
        {% for act in actividad %}
        <td>{{act.nota}}</td>
        {% endfor %}
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home"><a href="{% url 'solucion:indexProfe' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a></div>
{% endblock %}