{% extends "solucion/baseFormulario.html" %}

{% block estilo%} 
style="background-color: #fdf1ad;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Editar Actividad</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<form>
    <label>*ID:</label>
    <input type="text">
    <hr>
    <label>Descripción:</label>
    <br>
    <textarea cols="50" rows="12"></textarea>
</form>
{% endblock %}

{% block Contenedor3 %}
<div id="Editar">
    <button>Editar</button>
</div>
<div id="home">
    <a href="{% url 'solucion:indexProfe' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}