{% extends "solucion/baseFormulario.html" %}

{% block estilo%} 
style="background-color: #fdf1ad;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Calificar Actividad</label>
</div>
{% endblock %}

{% block Contenedor2 %}
<form>
    <label>Id Actividad:</label>
    <input type="text">
    <br>
    <label>ID Grupo:</label>
    <input type="text">
    <br>
    <label>ID: Estudiante:</label>
    <input type="text">
    <hr>
    <label>Nota:</label>
    <input type="text">
</form>
{% endblock %}

{% block Contenedor3 %}
<div id="crear">
    <button>Calificar</button>
</div>
<div id="home">
    <a href="{% url 'solucion:indexProfe' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}