{% extends "solucion/baseVer.html" %}
{% load static %}

{% block link%}
<link rel="stylesheet" href="{% static 'solucion/css/EstiloTablas2.css' %}">
{% endblock %}

{% block estilo%}
style="background-color: #fdf1ad;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Ver Estudiante</label>
</div>
{% endblock %}


{% block Contenedor2 %}
<label>ID Grupo:</label>
<input type="text">
<br>
<label>ID Estudiante:</label>
<input type="text">
<hr>
<table class="Tabla">
    <tr>
        <th>Apellidos</th>
        <td>{{estudiante.apel}}</td>
    </tr>
    <tr>
        <th>Nombres</th>
        <td>{{estudiante.name}}</td>
    </tr>
    <tr>
        <th>Email</th>
        <td>{{estudiante.email}}</td>
    </tr>
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Actividad</th>
        <th>Descripcion</th>
        <th>Nota</th>
    </tr>
    {% for pro in actividad %}
    <tr>
        <td>{{pro.name}}</td>
        <td>{{pro.act}}</td>
        <td>{{pro.nota}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home"><a href="{% url 'solucion:indexProfe' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a></div>
{% endblock %}