{% extends "solucion/baseVer.html" %}

{% block estilo%}
style="background-color: #fdf1ad;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Lista de Grupo</label>
</div>
{% endblock %}


{% block Contenedor2 %}
<label>ID:</label>
<input type="text" placeholder="Id del profesor">
<hr>
<table class="Tabla">
    <tr>
        <th>Código</th>
        <th>Asignatura</th>
        <th>Semestre</th>
        <th></th>

    </tr>
    {% for pro  in grupo %}
    <tr>
        <td>{{pro.cod}}</td>
        <td>{{pro.asig}}</td>
        <td>{{pro.sem}}</td>
        <td><a href="{% url 'solucion:proGrupoVer2' pro.id %}"><i class="fas fa-eye"></i></a></td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="home">
    <a href="{% url 'solucion:indexProfe' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a>
</div>
{% endblock %}