{% extends "solucion/baseVer2.html" %}

{% block estilo%}
style="background-color: #fdf1ad;"
{% endblock%}

{% block label%}
<div class="Label">
    <label>Grupo Nº {{caracter.cod}}</label>
</div>
{% endblock %}


{% block Contenedor2 %}
<br>
<br>
<table class="Tabla">
    <tr>
        <th>Código</th>
        <td>{{caracter.cod}}</td>
    </tr>
    <tr>
        <th>Asignatura</th>
        <td>{{caracter.asig}}</td>
    </tr>
    <tr>
        <th>Profesor</th>
        <td>{{caracter.profe}}</td>
    </tr>
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Apellidos</th>
        <th>Nombres</th>
        <th>Email</th>
    </tr>
    {% for pro in estudiantes %}
    <tr>
        <td>{{pro.apel}}</td>
        <td>{{pro.name}}</td>
        <td>{{pro.email}}</td>
    </tr>
    {% endfor %}
</table>
<hr>
<table class="Tabla2">
    <tr>
        <th>Actividad</th>
        <th>Descripcion</th>
    </tr>
    {% for activi in actividad %}
    <tr>
        <td>{{activi.name}}</td>
        <td>{{activi.act}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}

{% block Contenedor3 %}
<div id="back"><a href="{% url 'solucion:proGrupoVer' %}"><abbr title="Volver"><i class="fas fa-arrow-circle-left"></i></abbr></a></div>
<div id="home"><a href="{% url 'solucion:indexProfe' %}"><abbr title="Inicio"><i class="fas fa-home"></i></abbr></a></div>
{% endblock %}