.Frame {
  background-color: #fdf1ad;
}

.Label {
  display: grid;
  grid-template: auto / 0.3fr auto;
  grid-template-areas: "imag name";
  align-items: center;
}
.Imag {
  grid-area: imag;
  font-size: 55px;
  text-align: center;
}
.Name {
  grid-area: name;
}
.Contenedor2 {
  display: grid;
  grid-template: 0.5fr auto / 0.5fr auto;
  grid-template-areas:
    "actividad actividad"
    "grupo estudiante";
  align-items: center;
  justify-items: center;
}
.Actividad {
  grid-area: actividad;
  display: grid;
  grid-template: 0.1fr auto / 0.3fr 0.3fr 0.3fr auto;
  grid-template-areas:
    "la la la la"
    "edit add list study";
  border: 1px solid #000;
  width: 35vw;
  height: 6vw;
  border-radius: 5px;
}
.Actividad #label {
  grid-area: la;
}
.Actividad #icon {
  grid-area: add;
  margin-left: 43px;
}
.Actividad #edit {
  grid-area: edit;
  text-align: end;
  margin-right: -37px;
}
.Actividad #list {
  grid-area: list;
  margin-left: -45px;
}
.Actividad #addstudy {
  grid-area: study;
  margin-left: -126px;
}
.Grupos {
  grid-area: grupo;
  border: 1px solid #000;
  width: 16vw;
  height: 6vw;
  border-radius: 5px;
  margin-left: 37px;
  margin-top: -67px;
}
.Grupos #icon {
  text-align: center;
}
.Estudiante {
  grid-area: estudiante;
  border: 1px solid #000;
  width: 16vw;
  height: 6vw;
  border-radius: 5px;
  margin-top: -66px;
  margin-right: -6px;
}
.Estudiante #icon {
    text-align: center;
}
.Contenedor2 {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Contenedor2 i {
  font-size: 50px;
}
i:hover {
  color: #ca2228;
  cursor: pointer;
}
.Close {
  text-align: center;
  margin-top: 10px;
}
.Close a {
  background-color: #ffffff;
  border: 2px solid #c4c3c3;
  border-radius: 6px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #000;
  padding: 5px 5px;
}
a:hover {
  background-color: #bbd8ff;
  cursor: pointer;
}
