.Frame {
  background-color: #becff3;
  width: 50vw;
}
.Label {
  text-align: center;
}
#color1 {
  width: 50vw;
}
#color2 {
  width: 50vw;
}
#color3 {
  width: 50vw;
}
.Tabla {
  border: 2px solid #000000;
  width: 56%;
  border-collapse: collapse;
  background-color: #ffffffff;
  margin-left: 170px;
  margin-bottom: 20px;
  font-family: Arial, Helvetica, sans-serif;
  
}
.Tabla th {
  border: 2px solid #000000;
  text-align: left;
}
.Tabla td {
  border: 2px solid #000000;
  text-align: left;
  color: #000000;
}
.Tabla2 {
  border: 2px solid #000000;
  width: 80%;
  border-collapse: collapse;
  background-color: #ffffffff;
  margin-left: 70px;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}
.Tabla2 th {
  border: 2px solid #000000;
  text-align: center;
  
}
.Tabla2 td {
  border: 2px solid #000000;
  text-align: left;
  
}
.Tabla2 i:hover {
  cursor: pointer;
}
.Contenedor3 {
  display: grid;
  grid-template: 1fr / 0.1fr 0.1fr 0.1fr auto;
  grid-template-areas: "back home rm";
}
#back {
  grid-area: back;
  font-size: 45px;
  margin-left: 10px;
  margin-top: 20px;
}
#home {
  grid-area: home;
  font-size: 45px;
  margin-top: 20px;
}
#rm {
  grid-area: rm;
  font-size: 45px;
  margin-top: 20px;
}
#back i:hover {
  color: #4b5be9;
  cursor: pointer;
}
#home i:hover {
  color: #4b5be9;
  cursor: pointer;
}
#rm i:hover {
  color: #4b5be9;
  cursor: pointer;
}
