.Frame {
  background-color: #ffffff;
  justify-items: center;
  align-items: center;
}
.Contenedor1{
  justify-items: center;
  align-items: center;
}
.Contenedor2{
  display: grid;
  grid-template: 0.5fr auto / 1fr;
  grid-template-areas: 
  "user"
  "pass";
}
.User {
  grid-area: user;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-bottom: 50px ;
}
.User input {
  width: 25vw;
  height: 2vw;
  border-radius: 10px;
}
.Pass {
  grid-area: pass;
  font-size: large;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-top: 50px;
}
.Pass input {
  width: 25vw;
  height: 2vw;
  border-radius: 10px;
}
.In {
  display: grid;
  justify-items: center;
  align-items: center;
}
.In a{
  background-color: #ffffff;
  border: 2px solid #c4c3c3;
  border-radius: 6px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #000;
  padding: 5px 5px;
}
.In a:hover {
  background-color: #bbd8ff;
  cursor: pointer;
}
