.Frame {
  background-color: #becff3;
}
.Label {
  text-align: center;
}
.Contenedor2 {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 25px;
  text-align: center;
  margin-top: 55px;
}
.Contenedor2 input {
  height: 22px;
  width: 20vw;
  margin-bottom: 15px;
  border-radius: 5px;
}
.Contenedor3 {
  display: grid;
  grid-template: 1fr / 0.5fr auto;
  grid-template-areas: "home crear";
  align-items: center;
}
#crear {
  grid-area: crear;
}
button {
  border-radius: 10px;
  width: 150px;
  height: 30px;
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
button:hover {
  background-color: #bbd8ff;
  cursor: pointer;
}
#home {
  grid-area: home;
  font-size: 55px;
  margin-left: 10px;
  text-decoration: none;
}
#home i:hover {
  color: #4b5be9;
  cursor: pointer;
}
#radio {
  width: 20px;
  margin-right: 10px;
}

