.Frame {
  background-color: #becff3;
}

.Label {
  display: grid;
  grid-template: auto / 0.3fr auto;
  grid-template-areas: "imag name";
  align-items: center;
}
.Imag {
  grid-area: imag;
  font-size: 55px;
  text-align: center;
}
.Name {
  grid-area: name;
}
.Contenedor2 {
  display: grid;
  grid-template: 0.4fr auto 0.4fr / 1fr;
  grid-template-areas:
    "grupo"
    "profesor"
    "estudiante";
  align-items: center;
  justify-items: center;
}
.Grupo {
  grid-area: grupo;
  display: grid;
  grid-template: 0.1fr auto / 0.3fr 0.3fr 0.3fr auto;
  grid-template-areas:
    "la la la la"
    "edit add list study";
  border: 1px solid #000;
  width: 35vw;
  height: 6vw;
  border-radius: 5px;
}
.Grupo #label {
  grid-area: la;
}
.Grupo #icon {
  grid-area: add;
  margin-left: 43px;
}
.Grupo #edit {
  grid-area: edit;
  text-align: end;
  margin-right: -37px;
}
.Grupo #list {
  grid-area: list;
  margin-left: -45px;
}
.Grupo #addstudy {
  grid-area: study;
  margin-left: -126px;
}
.Profesor {
  grid-area: profesor;
  display: grid;
  grid-template: 0.1fr auto / 0.5fr auto;
  grid-template-areas:
    "la la"
    "add list";
  border: 1px solid #000;
  width: 35vw;
  height: 6vw;
  border-radius: 5px;
}
.Profesor #label {
  grid-area: la;
}
.Profesor #icon {
  grid-area: add;
  text-align: end;
}
.Profesor #list {
  grid-area: list;
  margin-left: 10px;
}
.Estudiante {
  grid-area: estudiante;
  display: grid;
  grid-template: 0.1fr auto / 0.3fr 0.3fr auto;
  grid-template-areas:
    "la la la"
    "edit add list";
  border: 1px solid #000;
  width: 35vw;
  height: 6vw;
  border-radius: 5px;
}
.Estudiante #label {
  grid-area: la;
}
.Estudiante #icon {
  grid-area: add;
  margin-left: 63px;
}
.Estudiante #edit {
  grid-area: edit;
  text-align: right;
  margin-right: -54px;
}
.Estudiante #list {
  grid-area: list;
}
.Contenedor2 {
  font-size: small;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.Contenedor2 i {
  font-size: 50px;
}
.Grupo i:hover {
  color: #4b5be9;
  cursor: pointer;
}
.Profesor i:hover {
  color: #f4d533;
  cursor: pointer;
}
.Estudiante i:hover {
  color: #ca2228;
  cursor: pointer;
}
.Close {
  text-align: center;
  margin-top: 10px;
}
.Close a {
  background-color: #ffffff;
  border: 2px solid #c4c3c3;
  border-radius: 6px;
  font-size: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  text-decoration: none;
  color: #000;
  padding: 5px 5px;
}
a:hover {
  background-color: #bbd8ff;
  cursor: pointer;
}
